 .bomba:disabled {
    background-color: red;
    color: white;
  }

  .limpo:disabled {
    background-color: #ddd;
    color: black;
  }

  button.flag {
    background-color: orange;
    color: white;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

/* Container do jogo */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Botão de reiniciar */
#btn-reiniciar {
    background-color: #178bb9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#btn-reiniciar:hover {
    background-color: #3462c5;
}

/* Grade do jogo */
#Jogo {
    max-height: 80vh;
    max-width: 90vw;
    margin-top: 80px; /* para não ficar atrás do menu fixo */
    overflow: auto;
    border: 1px solid #ccc;
}

/* Estilo dos botões do campo */
button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    margin: 1px;
    cursor: pointer;
}

/* Linhas como flex rows */
.linha {
    display: flex;
}

#menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}